.ChangePassword {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    font-weight: 600;
    font-size: large;
}

.titleChangePassword {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    font-weight: 600;
    font-size: large;
}

.writeOldNew {
    display: flex;
    width: 230px;
    flex-direction: column;

    margin-left: 50px;
}

.formEntryPassword {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 200px;
    height: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dadada;
    background-color: #131313;
    background-clip: padding-box;
    border: 2px solid #ffe695;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.formSend2 {
    color: #ffe695;
    width: 100px;
    font-size: calc(1rem + 0.2vw);
    font-weight: 550;
    background-color: #1a1a1a;
    border: 2px solid #ffe695;
    border-radius: 0.25rem;
    height: 30px;
    align-self: center;
}

.formSend2:hover {
    transform: scale(1.03);
}