.ChangePassword {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    font-weight: 600;
    font-size: large;
}

.titleChangePassword {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    font-weight: 600;
    font-size: large;
}

.writeOldNew {
    display: flex;
    width: 230px;
    flex-direction: column;

    margin-left: 50px;
}

.margin-top {
    margin-top: 15px;
}

.pdMessage {
    color: red;
    font-size: 0.75em;
    font-weight: 300;
    margin-block-start: 0px;
    margin-block-end: 0.5em;
}