.formEntry {
    display: flex;
    width: 90%;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dadada;
    background-color: #131313;
    background-clip: padding-box;
    border: 2px solid #ffe695;
}

.formPlace {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}