.CommentList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: safe;
}

.Comment2 img {
    height: 230px;
    width: auto;
}

.Comment2 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 30px;
    width: 430px;
    margin-bottom: 30px;
}

.opinion p {
    max-height: 180px;
    overflow-y: scroll;
}

.opinion {
    margin-left: 10px;
}


.ratingandicons {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}