.MovieList {
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: top;
    padding: 10px;
}

.MovieList::-webkit-scrollbar {
    height: 10px;
    background-color: #3f3f3f;
    border-radius: 5px;
}

.MovieList::-webkit-scrollbar-thumb {
    background-color: #fc9149;
    border-radius: 5px;
    cursor: grab;
}

.categories {
    margin-top: 55px;
}

.categorie {
    padding: 20px;
}

.LinkCM {
    color: #dadada;
    font-size: 1.3em;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.LinkCM:hover {
    color: #fc9149;
}