.MovieList {
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: top;
    padding: 10px;
}

.categories {
    margin-top: 55px;
}

.categorie {
    padding: 20px;
}

.LinkCM {
    color: #5784BA;
    font-size: 1.3em;
    margin-left: 10px;
}

.LinkCM:hover {
    color: #fc9149;
}