.navbar-sticky {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  background: #5784BA;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1.5px 2px 1px #fc9149;
  border-radius: 0px 0px 15px 0px;
  animation: moveDown 0.5s ease-in-out;
  gap: calc(15px + 1vw);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 0.5rem;
}

.dropdown-menu li:hover {
  background-color: black;
}

.navbar-left {
  align-items: center;
  display: flex;
  gap: calc(15px + 1vw);
}

.navbar--link-connection {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

#p {
  max-height: 5px;
}

.navbar--search {
  display: flex;
  flex: row;
  padding: 5px 10px;
  background-color: #B6D8F2;
  justify-content: space-between;
  border-radius: 10px;
  width: calc(100px + 15vw);
}

.navbar--search-input {
  background-color: #B6D8F2;
  width: calc(75px + 15vw);
  border: none;
  font-size: 1em;
  color: #5784BA;
}

.fa-solid.fa-magnifying-glass {
  color: #5784BA;
  align-self: center;
  margin-right: 5px;
  transition: transform 0.1s ease-out;
}

.fa-solid.fa-circle-xmark {
  color: #5784BA;
  align-self: center;
}

.fa-solid.fa-magnifying-glass:hover {
  transform: scale(1.1);
}


input:focus {
  outline: none;
}

.Link {
  color: #B6D8F2;
  text-decoration: none;
}

.Link:hover {
  color: #fc9149;
}

.navbar--logo {
  width: 2rem;
  height: 2rem;
  padding-left: 25px;
  animation: rotate 0.7s ease-in-out 0.5s;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0rem);
  }
}