.movie {
    text-align: center;
    font-size: 1em;
    width: 200px;
    margin-top: 10px;
    color: #dadada;
    font-weight: 500;
    transition: transform 0.2s ease-out;
}

img {
    border-radius: 10px;
    max-width: 200px;
}

.movie:hover {
    transform: scale(1.07);
    z-index: 1;
    color: #ffe695;
}

.movieTitle {
    height: 50px;
}