.movie {
    text-align: center;
    font-size: 1em;
    width: 200px;
    margin-top: 10px;
    color: #dadada;
    transition: transform 0.2s ease-out;
}

img {
    border-radius: 10px;
}

.movie:hover {
    transform: scale(1.07);
    z-index: 1;
    color: #fc9149;
}