.Users-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  align-items: flex-start;
  color: #dadada;
}

.Users-container> :not(:last-child) {
  margin-bottom: 20px;
}

.formEntry {
  display: flex;
  width: 90%;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dadada;
  background-color: #131313;
  background-clip: padding-box;
  border: 2px solid #a05523;
}

.formPlace {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.formButton {
  color: #dadada;
  font-size: calc(1rem + 0.2vw);
  background-color: #3f3f3f;
  border: 2px solid #3f3f3f;
  margin-top: 20px;
}

.formButton:hover {
  transform: scale(1.03);
}

.formTitle {
  font-size: calc(1.1em + 1vw);
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.connectionForm {
  border-radius: 10px;
  border: 3px solid #1a1a1a;
  background-color: #1a1a1a;
  padding: calc(15px + 1vw);
  padding-top: calc(5px + 1vw);
}

.User-connected {
  margin-top: 60px;
  color: #dadada;
  display: flex;
  flex-direction: column;
}

.disconnection {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-self: end;
}

.disconnection p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 10px;
  font-weight: 600;
}