.noFilm {
    color: #5784BA;
    margin-top: 50px;
}

.MovieListP {
    margin-top: 50px;
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}