.MoviePage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: #dadada;
}

.NotMoviePage {
    margin-top: 50px;
}

h1 {
    display: flex;
    justify-content: center;
}

img {
    max-height: 300px;
    transform: none;
}

.MoviePresentation {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: calc(25vw - 100px);
    margin-right: calc(25vw - 100px);
}


.MovieText {
    margin-left: 3vw;
    min-width: 250px;
    font-size: calc(0.9em + 0.3vw);
}

.addmovie {
    display: flex;
    flex-direction: row;
}

.addmovie p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: 10px;
    font-weight: bold;
}

.fa-solid {
    align-self: center;
    transform: scale(1.1);
}

.fa-solid:hover {
    transform: scale(1.2);
}